body {
    background-color: #d8ac1d;
    background-image:url('../cityMap/assets/yellowBackground2.png');
	background-position: top;
}

nav {
    background-color: #785800;
    background-image:url('../cityMap/assets/yellowBackground3.png');
	background-position: top;
}

nav div {
    float:left;
    width:7em; /*Fixes the width of all elements*/
    padding-right:10px;
}

nav div a{
    color: white;
}

nav div a:link {
    display: block;
    width: 100%;
    text-align:center;
    padding: 8px 8px 8px 0.8em;
    background-color: #000;
    color: white;
    color: #FFFFFF;
    text-decoration: none;
}

nav div a:hover {
    background-color: #1c1c1c;
    color: #5d5d5d;
}

.navbar .navbar-collapse {
  text-align: center;
}

#borderimg1 {
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url('../cityMap/assets/border.png') 30 round; /* Safari 3.1-5 */
    -o-border-image: url('../cityMap/assets/border.png') 30 round; /* Opera 11-12.1 */
    border-image: url('../cityMap/assets/border2.png') 30 round;
}

#worldMapDiv {
    width:950px;
    height:650px;
    float:left;
}

#worldMapDiv canvas{
    border: 10px solid transparent;
    padding: 0px;
    -webkit-border-image: url('../cityMap/assets/border.png') 30 round; /* Safari 3.1-5 */
    -o-border-image: url('../cityMap/assets/border.png') 30 round; /* Opera 11-12.1 */
    border-image: url('../cityMap/assets/border8.png') 30 round;
}