{% extends 'profileUser.html' %}
{% load static %}
{% block showProfile %}
    <div class="col-12 col-md-5 profilePanel text-center">
        <table>
            <tr>
                {% if not profil.profile_pic %}
                    <th><img height="350" width="220"src="{% static 'profileUser/defaultProfilePic.jpg' %} " alt="Profile pic"/></th>
                {% else %}
                    <th><img height="350" width="220"src='{{ profil.profile_pic }}' alt="Profile pic"/></th>
                {% endif %}
            </tr>
            <tr>
                <th>Username: {{ user.username }}</th>
            </tr>
            <tr>
                <th>Alliance: {{ profil.alliance }}</th>
            </tr>
            <tr>
                <th>E-mail: {{ user.email }}</th>
            </tr>
        </table>
    </div>
    <div class="col-12 col-md-5 textPanel text-center">
        <table>
            <tr>
                <th>Bio: {{ profil.bio }}</th>
            </tr>
        </table>
    </div>
{% endblock %}